body {
      background: linear-gradient(to right, #0060bb 24%, #009ebb 100%);
      color: white;
      font-family: 'verdana';
    }
		.box1 {
      margin-top: 20px;
      padding: 20px;
      border-radius: 15px;
      background: rgba(255,255,255,0.1);
      display: inline-block;
    }
    	.container {
      margin-top: 80px;
    }
     img {
      width: 150px;
      height: 150px;
      border-radius: 50%; <!-- làm tròn -->
      border: 4px solid white;
      object-fit: cover;
    }
    .box2{
    	margin-top: 20px;
      padding: 20px;
      border-radius: 15px;
    	background: rgba(255,255,255,0.1);
      display: inline-block;
      height: auto;
      width: 75%;
      border-radius: 15px;


    }
    .box3{
    	margin-top: 20px;
      padding: 20px;
      border-radius: 15px;
    	background: rgba(255,255,255,0.1);
      display: inline-block;
      height: auto;
      width: 75%;
      border-radius: 15px;
}
